functions {
  matrix foo(vector v, int m, int n) {
    matrix[m,n] result
    int i
    result = rep_matrix(0,m,n)
    i = 0
    return(result)
  }
}
dummy : 0
transformedparam{
    matrix[3, 2] z
    z = foo(y,3,2)
}
y := normal<6>(0.0,1.0)
posterior(y)
